---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import photo from '../assets/photo.jpg';
import Badge from '../components/Badge.astro';
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
	<main class="flex flex-col items-center w-full lg:w-[1200px]">

		<section class="py-30 px-4 flex flex-col gap-y-5 items-center lg:flex-row lg:gap-x-15" id="about">

			<div>
				<img class="rounded-full size-55" src={photo.src} alt="Foto Julián Daza">
			</div>

			<div class="flex flex-col gap-y-8">
				<h1 class="text-4xl font-bold bg-gradient-to-r from-cyan-600 to-purple-800 bg-clip-text text-transparent">Hola, Soy Julián Daza</h1>

				<h2 class="max-w-lg text-lg text-gray-600">
					Soy un desarrollador de software full stack con experiencia en el desarrollo de aplicaciones web. Me apasiona aprender nuevas tecnologías y trabajar en proyectos desafiantes.
				</h2>
		
				<div class="flex flex-row gap-2 flex-wrap max-w-lg">
					<Badge>HTML5</Badge>
					<Badge>CSS3</Badge>
					<Badge>JavaScript</Badge>
					<Badge>React.js</Badge>
					<Badge>Astro</Badge>
					<Badge>Python</Badge>
					<Badge>Flask</Badge>
					<Badge>FastAPI</Badge>
					<Badge>SQL</Badge>
					<Badge>MongoDB</Badge>
					<Badge>Git</Badge>
				</div>
			</div>

		</section>


		<SectionContainer id="experience" title="Experiencia">
			<Experience/>
		</SectionContainer>

		<SectionContainer id="projects" title="Proyectos">
			<Projects/>
		</SectionContainer>

		<SectionContainer id="contact" title="Contacto">
			<Contact/>
		</SectionContainer>

	</main>
</Layout>
