---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import photo from '../assets/photo.jpg';
import Badge from '../components/Badge.astro';
---

<Layout>
	<main>

		<section class="py-30 flex flex-col gap-y-5 items-center lg:flex-row lg:gap-x-15" id="about">

			<div>
				<img class="rounded-full w-50 h-50" src={photo.src} alt="Foto Julián Daza">
			</div>

			<div class="flex flex-col gap-y-8">
				<h1 class="text-3xl font-bold text-gray-800">Hola, Soy Julián Daza</h1>

				<h2 class="max-w-lg text-lg text-gray-600">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, quo dolore eos harum numquam impedit id vitae nihil quam amet placeat cumque possimus doloremque minus excepturi ut quod. Dolorem, hic.
				</h2>
		
				<div class="flex flex-row gap-x-3">
					<Badge>HTML5</Badge>
					<Badge>CSS3</Badge>
					<Badge>JavaScript</Badge>
				</div>
				<!-- <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get started</a> -->
			</div>

		</section>

	</main>
</Layout>
