
---
interface Props {
    date: string;
    title: string;
    description: string;
}

const {date, title, description} = Astro.props;
---


<li class="relative flex gap-6 pb-5 px-5 items-baseline">
    <div class="before:absolute before:left-[27.5px] before:h-full before:w-[2px] before:bg-gray-400">
        <svg class="fill-gray-400" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
            <circle cx="8" cy="8" r="8" />
          </svg>
    </div>
    <div class="w-[80%] flex flex-col gap-y-1 lg:w-lg">
        <p class="text-gray-600">{date}</p>
        <span class="font-bold text-gray-700">{title}</span>
        <p class="text-gray-600">{description}</p>
    </div>
</li>