<header class="flex justify-between">

    <nav>
        <a href="#">Sobre Mí</a>
        <a href="#">Experiencia</a>
        <a href="#">Educación</a>
        <a href="#">Proyectos</a>
        <a href="#">Contacto</a>
        
    </nav>

</header>