---
import ProjectCard from "./ProjectCard.astro"
import projectPortfolioImage from  "../assets/project-portfolio.png"
import projectDashboardImage from  "../assets/project-dashboard.png"

const projects = [
    {
        title: "Portafolio",
        description: "Proyecto para mostrar mis habilidades y proyectos realizados y mejorar mis habilidades con Astro.js y Tailwind CSS.",
        image: projectPortfolioImage.src,
        technologies: ["JavaScript", "Astro", "Tailwind"],
        demoUrl: "https://jdazar18.github.io/portfolio/",
        githubUrl : "https://github.com/jdazar18/portfolio"
    },
    {
        title: "Dashboard",
        description: "Proyecto de práctica para mejorar mis habilidades en React.js y el manejo de gráficos con Chart.js.",
        image: projectDashboardImage.src,
        technologies: ["JavaScript", "React", "CSS"],
        demoUrl: "https://jdazar18.github.io/dashboard/",
        githubUrl : "https://github.com/jdazar18/dashboard"
    }
]
---


<div class="flex flex-col gap-5 flex-wrap justify-center lg:flex-row">

    {projects.map((project, index) => (
        <ProjectCard {...project} />
    ))}

</div>









